@keyframes slideInDown {
    from {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }

    to {
        visibility: visible;
        transform: translate3d(0, 3px, 0);
    }
}

@keyframes slideInUp {
    from {
        visibility: visible;
        transform: translate3d(0, 3px, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}

header {
    width: 100%;
    height: 55px;
    font-family: tf2build;
    font-size: 1.2em;
    position: fixed;
    top: 0px;
    background-color: #111010;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

header .header_icon {
    float: left;
    width: 90px;
    height: 100px;
    background-color: #111010;
    border-bottom-right-radius: 50px;
}

header .header_icon .menu_logo {
    margin-top: 10px;
    width: 80px;
    transition: 1s;
}

header .header_icon:hover .menu_logo {
    transform: rotate(-360deg);
}

header div .dropdown_class {
    position: sticky;
    z-index: -1;
}

header div .dropdown_class ul {
    transform: translate3d(0, -100%, 0);
    background-color: #111010;
    display: inline-block;
    width: 60px;
    height: 445px;
    padding: 0px;
    border-bottom-right-radius: 30px;
    padding-bottom: 0px;
    transition: 0.5s;
}

header div .dropdown_class ul li {
    padding: 0px;
    padding-bottom: 5px;
    padding-left: 8px;
    border: none;
}

header div .dropdown_class img {
    width: 40px;
    margin-left: 0px;
    transition: filter 0.4s;
}

header div .dropdown_class img:hover {
    filter: blur(5);
    filter: brightness(100);
}

header .header_icon .dropdown_class ul {
    visibility: hidden;
}

header .header_icon:hover .dropdown_class ul {
    animation: slideInDown 0.5s forwards;
}

header .header_icon:not(:hover) .dropdown_class ul {
    animation: slideInUp 0.5s;
}

header ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 10px;
}

header ul li {
    padding: 10px;
    border-right: solid 2px #ffffff60;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

header ul li:hover a {
    color: #f08149;
}

header ul #btn_baixar {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 15px;
    max-height: 70px;
    min-height: 55px;
    border: none;
    background-color: #9d5322;
    transition: 0.3s;
}

header ul #btn_baixar:hover {
    background-color: #f08149;
    box-shadow: #f08149 -10px 0px 50px;
}

header ul #btn_baixar:hover a {
    color: #101010;
}